{#
/**
 * @file
 * Default theme implementation of an Instagram image link.
 *
 * Available variables:
 * - data: The entire data array returned from the Instagram API request.
 * - href: The url to the Instagram post page.
 * - src: The source url to the instagram image.
 * - width: The display width of the image.
 * - height: The display height of the image.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
    <div ng-app="drupalApp">
    <div ng-controller="BlockCtrl">
        <div class="container">
            <div style="padding-top: 15px">My Name is {[{name}]}</div>
            <button ng-click="add()">Test</button>
        </div>
    </div>
{% endspaceless %}